html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

* {
  box-sizing: border-box;
}

.process {
  user-select: none;
  .task:hover,
  .activity:hover {
    cursor: grab;
    fill: blueviolet;
  }
}

.border-t-solid {
  border-top-style: solid;
}
.border-r-solid {
  border-right-style: solid;
}
.border-b-solid {
  border-bottom-style: solid;
}
.border-l-solid {
  border-left-style: solid;
}
.border-px {
  border-width: 1px;
}
